@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Roboto+Mono&family=Rubik&display=swap');
/* --------- Global style ---------  */
* {
    margin: 0;
    padding: 0;
    border: none;
    
}

body {
    font-family: Courier, sans-serif;
    text-align: center;
    background-color: blueviolet;
    background: url(../images/cellphone-gf7d2ec28d_1920.png) no-repeat center center rgb(0, 128, 128);
    background-size: 70%;
    /* background-position-y: -263px; */
}

header {
    width: 100%;
    position: fixed;
    /* height: 220px; */
    /* background-color: aquamarine; */
    text-align: center;
}

header h1 {
    float: right;
    margin: 70px 166px 0 106px;
}

/* #cellphone {
    width: 100%;
    height: auto;
} */

.logo {
    width: 20%;
    float: left;
    margin: 50px 106px 0 100px;
}

#pictures {
    display: none;
}

.score-area {
    float: right;
    background-color: rgb(1, 200, 200);
    border-radius: 10px;
    width: 33.3%;
    position: relative;
    margin: 50px 0 0 106px;
    font-size: 150%;
    padding: 10px;
}

.game-area-start {
    width: 365px;
    height: 338px;
    border: 20px solid rgb(168 188 160);
    box-shadow: black 0px 10px 50px;
    border-radius: 27px;
}

.game-area-L3 {
    /* background-color: whitesmoke;
    width: 365px;
    height: 338px; */
    border: 20px solid brown;
    /* margin-top: -57px;
    margin-right: -7px;
    box-shadow: black 0px 10px 50px;
    border-radius: 27px; */
}

#game-area {
    background-color: whitesmoke;
    width: 365px;
    height: 338px;
    /* box-shadow: black 0px 10px 50px;
    border-radius: 27px; */
    position: relative;
    /* margin: 25px; */
}

.control-area {
    position: relative;
    top: 50px;
    width: 100%;
}

/* .control-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
} */

#up {
    /* margin: 25px; */
    /* position: relative; */
    /* top: 50px;
    left: 225px; */
    width: 50px;
    height: 35px;
    border-radius: 45px;
    background-color: rgb(200 195 195);
}

#left {
    /* margin: 0 170px 50px 130px; */
    /* position: relative;
    top: 108px;
    right: 75px; */
    width: 50px;
    height: 35px;
    border-radius: 45px;
    background-color: rgb(200 195 195);
    top: 20px;
    right: 105px;
    position: relative;
}

#right {
    /* margin: 0 127px 50px 53px; */
    /* position: relative;
    top: 108px;
    right: 75px; */
    width: 50px;
    height: 35px;
    border-radius: 45px;
    background-color: rgb(200 195 195);
    top: 20px;
    left: 105px;
    position: relative;
}

#down {
    /* margin: 25px; */
    /* position: relative;
    top: 108px;
    right: 75px; */
    width: 50px;
    height: 35px;
    border-radius: 45px;
    background-color: rgb(200 195 195);
    top: 80px;
    position: relative;
}

#messages {
    display: none;
    /* text-align: center;
    position: relative; */
}
/* #win {
    color: gold;
}

#lost {
    color:red;
} */

/*Media queries*/
/*everything coded in ths area is only applied for those screens. For lager screens wide and down*/
@media screen and (max-width: 1420px) {
    .control-area {
        top: 35px;
    }

    #left {
        top: 16px;
        right: 94px;
    }

    #right {
        top: 16px;
        left: 94px;
    }

    #down {
        top: 67px;
    }
}

@media screen and (max-width: 1400px) {
    body {
        background-size: 86%;
    }

    header h1 {
        margin: 50px 100px 0 50px;
    }

    .score-area {
        width: 25%;
        margin: 50px 0 0 205px;
    }

    .control-area {
        position: relative;
        top: 80px;
        width: 100%;
    }

    #left {
        right: 120px;
    }

    #right {
        left: 120px;
    }

    #down {
        top: 90px;
    }
        

}
/*-------------------- MQ-1130--------------------------------- */
@media screen and (max-width: 1130px) {
    body {
        background-size: 100%;
    }
    .score-area {
        width: 20%;
        font-size: 97%;
    }
    .score-area {
        width: 20%;
        margin-top: 25px;
        font-size: 97%;
    }

    .logo {
        width: 20%;
        float: left;
        margin: 150px 5px 0 5px;
    }

    header h1 {
        margin: 100px 10px 20px 10px;
        font-size: 150%;
      }

    .score-area {
        font-size: 97%;
        margin: 150px 0 0 0;
        position: inherit;
        right: 0px;
    }

        .control-area {
            top: 30px;
        }

        #left {
            right: 93px;
        }

        #right {
            left: 93px;
        }
}

@media screen and (max-width: 750px) {
    body {
        background-size: 155%;
    }

    header {
        background-color: rgb(0, 128, 128);
    }

    header h1 {
        margin: 380px 0 20px 10px;
        font-size: 150%;
        width: 50%;
        border-radius: 5px;
        padding: 0 10px;
    }

    .score-area {
        font-size: 117%;
        margin: 400px 0 0 0;
        position: inherit;
        right: 0px;
        width: 50%;
        border-radius: unset;
        background-color: unset;
    }

    .logo {
        width: 27%;
        float: left;
        margin: 380px 0 0 0;
        padding: 10px;
    }

    #game-area {
        border-radius: 2px;
    }


}

@media screen and (max-width: 405px) {
    body {
        background-size: 155%;
    }
}

@media screen and (max-width: 280px) {
    body {
        background-size: 345%;
    }
}