@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Roboto+Mono&family=Rubik&display=swap');
/* --------- Global style ---------  */
* {
    margin: 0;
    padding: 0;
    border: none;
    
}

body {
    font-family: Courier, sans-serif;
    text-align: center;
    background-color: blueviolet;
    /* background: url(../images/cellphone-gf7d2ec28d_1920.png) no-repeat center center teal;
    background-size: 78%;
    background-position-y: -263px; */
}

header {
    width: 100%;
    position: fixed;
    /* height: 220px; */
    background-color: aquamarine;
    text-align: center;
}

header h1 {
    float: right;
    margin: 50px 100px 0 100px;
}

.logo {
    width: 20%;
    float: left;
    margin: 50px 100px 0 100px;
  
}

#pictures {
    display: none;
}

#cellphone {
    /* width: 100%;
    height: auto; */
}

.score-area {
    float: right;
    background-color: rgb(1, 200, 200);
    border-radius: 10px;
    width: 33.3%;
    position: relative;
    top: -130px;
    margin: 50px 0 0 100px;
    font-size: 150%;
    padding: 10px;
}

.game-area-start {
    /* background-color: whitesmoke;
    width: 365px;
    height: 338px;
    border: 20px solid rgb(168 188 160);
    margin-top: -57px;
    margin-right: -7px;
    box-shadow: black 0px 10px 50px; */
    /* left: -23px; */
    /* position: unset; */
    /* border-radius: 27px; */
}

.game-area-L3 {
    /* background-color: whitesmoke;
    width: 365px;
    height: 338px; */
    /* border: 20px solid brown; */
    /* margin-top: -57px;
    margin-right: -7px;
    box-shadow: black 0px 10px 50px;
    border-radius: 27px; */
}

#game-area {
    /* background-color: whitesmoke;
    width: 365px;
    height: 338px;
    /* border: 20px solid brown; */
    /* margin-top: -110px;
    margin-right: -7px;
    box-shadow: black 0px 10px 50px;
    border-radius: 27px; */
} */

.control-area {
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 66px;
    position: relative; */
}

.control-area {
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100% */
}

#up {
    /* margin: 50px;
    position: relative;
    top: 50px;
    left: 225px;
    width: 50px;
    height: 35px;
    border-radius: 45px;
    background-color: rgb(200 195 195); */
}

#left {
    /* margin: 50px;
    position: relative;
    top: 108px;
    right: 75px;
    width: 50px;
    height: 35px;
    border-radius: 45px;
    background-color: rgb(200 195 195); */
}

#right {
    /* margin: 50px;
    position: relative;
    top: 108px;
    left: 75px;
    width: 50px;
    height: 35px;
    border-radius: 45px;
    background-color: rgb(200 195 195); */
}

#down {
    /* margin: 50px;
    position: relative;
    top: 211px;
    right: 225px;
    width: 50px;
    height: 35px;
    border-radius: 45px;
    background-color: rgb(200 195 195); */
}

#messages {
    /* display: none;
    text-align: center;
    position: relative; */
}
/* #win {
    color: gold;
}

#lost {
    color:red;
} */
